{%extends 'main.html'%}

{%block content%}
<style>
#page-34{background:black !important;}
</style>

<!-- .ashade-page-title-wrap -->
<main id="page-34" class="ashade-content-wrap post-34 page type-page status-publish hentry">
    <div class="ashade-content-scroll"><div class="ashade-header-holder" style="height: 115px;"></div>
                        <div class="ashade-content" style="min-height: 0px; transform: translate(0px, 0px); opacity: 1;"><div class="ashade-mobile-title-wrap">
<h1 class="ashade-page-title">
    <span>If You Have More Questions</span>
    Get in Touch        </h1>
</div>
            <div class="ashade-row ">
                <div class="ashade-col col-12">
                            <div data-elementor-type="wp-page" data-elementor-id="34" class="elementor elementor-34">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-161a975 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="161a975" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-9bf9ee7 elementor-hidden-tablet elementor-hidden-phone" data-id="9bf9ee7" data-element_type="column">
    <div class="elementor-widget-wrap">
                    </div>
</div>
        <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-2a57914" data-id="2a57914" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-956a87e elementor-widget elementor-widget-text-editor" data-id="956a87e" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
                    <p>Nice to meet you, friend! My name is DEMBA. {{manifest['about']}}!</p>						</div>
        </div>
            </div>
</div>
        <div class="elementor-column elementor-col-16 elementor-top-column elementor-element elementor-element-484a37f elementor-hidden-tablet elementor-hidden-phone" data-id="484a37f" data-element_type="column">
    <div class="elementor-widget-wrap">
                    </div>
</div>
            </div>
</section>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-3d79bff elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3d79bff" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3a03237d" data-id="3a03237d" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-19a42d2e elementor-widget elementor-widget-heading" data-id="19a42d2e" data-element_type="widget" data-widget_type="heading.default">
        <div class="elementor-widget-container">
    <h4 class="elementor-heading-title elementor-size-default"><span>My Contacts and Socials</span>How to Find Me</h4>		</div>
        </div>
        <div class="elementor-element elementor-element-27e64fbe elementor-widget elementor-widget-wp-widget-shadow_contacts_widget" data-id="27e64fbe" data-element_type="widget" data-widget_type="wp-widget-shadow_contacts_widget.default">
        <div class="elementor-widget-container">
    <div class="ashade-widget--contacts">
<ul class="ashade-contact-details__list has-labels">
<li>
    <i class="ashade-contact-icon asiade-icon--location"></i>
 {{manifest['address']}}
</li><li>
        <i class="ashade-contact-icon asiade-icon--email"></i>
        <a href="mailto:{{manifest['email']}}">{{manifest['email']}}</a>
    </li><li>
        <i class="ashade-contact-icon asiade-icon--phone"></i>
        <a href="tel:{{manifest['mobile']}}">{{manifest['mobile']}}</a>
    </li><li class="ashade-contact-socials">
        <i class="ashade-contact-icon asiade-icon--socials"></i>
        <a class="ashade-social--instagram is-text" href="https://instagram.com/{{manifest['ig']}}" target="_blank">Ig</a>
                               
      <a class="ashade-social--youtube is-text" href="https://www.youtube.com/c/{{manifest['yt']}}" target="_blank">Yt</a>
                                       
    </li>	</ul>
</div>		</div>
        </div>
            </div>
</div>
        <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-1f0ab0ca" data-id="1f0ab0ca" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-1aa2173b elementor-widget elementor-widget-shortcode" data-id="1aa2173b" data-element_type="widget" data-widget_type="shortcode.default">
        <div class="elementor-widget-container">
            <div class="elementor-shortcode">
<div class="wpcf7 js" id="wpcf7-f30-p34-o1" lang="en-US" dir="ltr" data-wpcf7-id="30">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="/wp/ashade/get-in-touch/#wpcf7-f30-p34-o1" method="post" class="wpcf7-form init" aria-label="Contact form" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="30">
<input type="hidden" name="_wpcf7_version" value="6.0.1">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f30-p34-o1">
<input type="hidden" name="_wpcf7_container_post" value="34">
<input type="hidden" name="_wpcf7_posted_data_hash" value="">
</div>
<div class="ashade-row ashade-small-gap">
<div class="ashade-col col-4">
<p><span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name" value="" type="text" name="your-name"></span>
</p>
</div>
<div class="ashade-col col-4">
<p><span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your Email" value="" type="email" name="your-email"></span>
</p>
</div>
<div class="ashade-col col-4">
<p><span class="wpcf7-form-control-wrap" data-name="your-tel"><input size="40" maxlength="400" class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Your Phone" value="" type="tel" name="your-tel"></span>
</p>
</div>
</div>
<div class="ashade-form-textarea">
<p><span class="wpcf7-form-control-wrap" data-name="your-message"><textarea cols="40" rows="10" maxlength="2000" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message" name="your-message"></textarea></span>
</p>
</div>
<div class="align-right">
<p><input class="wpcf7-form-control wpcf7-submit has-spinner" type="submit" value="Send Message"><span class="wpcf7-spinner"></span>
</p>
</div><div class="wpcf7-response-output" aria-hidden="true"></div>
</form>
</div>
</div>
        </div>
        </div>
            </div>
</div>
            </div>
</section>
        </div>
                            <!-- Post Navs -->
                    <div class="clear"></div>
                    <nav class="ashade-post-nav"></nav>
                    <!-- Post Comments -->
                                            </div><!-- .ashade-col -->
                                    </div><!-- .ashade-row -->
        </div><!-- .ashade-content -->
    
    </div><!-- .ashade-content-scroll -->
</main>
{%endblock%}