{%extends 'main2.html'%}

{%block content%}


<!-- .ashade-page-title-wrap -->
<main id="album-99" class="ashade-content-wrap ashade-content--boxed post-99 ashade-albums type-ashade-albums status-publish has-post-thumbnail hentry albums-category-nature-photos">
    <div class="ashade-page-title-wrap" style="background-color: transparent;color: black;">
        <h1 class="ashade-page-title">
            <span>
                                                                        <span class="ashade-meta-category ashade-post-meta" style="display: none;">
                            Dressing is an Art                      </span> &nbsp;
            </span>
                       <span style="color: black;font-size: .65em;"> Happiness Is Handmade</span></h1>
    </div>
    
    <div class="ashade-content-scroll"><div class="ashade-header-holder" style="height: 55px;background-color: transparent !important;"></div>
                          
    
    <div class="ashade-content" style="min-height: 0px; transform: translate(0px, 0px); opacity: 1;">
                                <section class="ashade-section">
                <div class="ashade-row">
                    <div class="ashade-col col-12">
                        <p class="ashade-intro align-center" style="font-size: 19px;font-weight: bold;">
                          {{manifest['about']}}
                        </p>
                    </div><!-- .ashade-col -->
                </div><!-- .ashade-row -->
            </section><!-- .ashade-section -->
            <section class="ashade-section">
<div class="ashade-grid ashade-grid-4cols ashade-grid-caption--none is-masonry" style="position: relative; height: 3106.5px;">
            
    {%for fd in feed%}
    <div class="ashade-gallery-item ashade-grid-item ashade-grid-item--image" style="position: absolute; left: 0px; top: 0px;">
        <div class="ashade-grid-item--inner">
                                    <a href="#" class="ashade-lightbox-link" data-elementor-open-lightbox="no" data-gallery="grid_92730" data-type="image" data-size="1600x1280" data-count="0">
            </a>
                <div class="ashade-image ashade-lazy is-loaded" data-src="{{API_URL}}{{fd['banner_Url']}}" style="background-image: url(&quot;{{API_URL}}{{fd['banner_Url']}}&quot;);">
                <img loading="lazy" src="{{API_URL}}{{fd['banner_Url']}}" width="960" height="768" alt="{{fd['caption']}}">
            </div><!-- .ashade-image -->
                                    <div class="ashade-grid-caption"></div>
        </div>
    </div><!-- .ashade-gallery-item -->
                <!-- .ashade-gallery-item -->
    {%endfor%}
                
                
                
                
                
                
                
                
                
                
                
            
    </div><!-- .ashade-grid -->
</section><!-- .ashade-section -->					</div><!-- .ashade-content -->
      
    </div><!-- .ashade-content-scroll -->
</main>

{%endblock%}